.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; /* Center content horizontally */
    height: 100vh; /* Full screen height */
    width: 100vw; /* Full screen width */
    margin: 0;
    padding: 0;
    background-color: #f4f7f9;
}

/* Chat box that contains the messages */
.chat-box {
    flex-grow: 1;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    width: 100%;
    max-width: 800px; /* Maximum width for the chat box */
}

/* Each individual message */
.message {
    display: flex;
    margin-bottom: 10px;
}

/* User message aligned to the right */
.message.user {
    justify-content: flex-end;
}

/* Bot message aligned to the left */
.message.bot {
    justify-content: flex-start;
}

/* Message text styled like a bubble */
.message-text {
    max-width: 60%;
    padding: 15px; /* Increased padding for both user and bot messages */
    border-radius: 15px;
    font-size: 16px; /* Increased font size for both user and bot messages */
    word-wrap: break-word;
}

.message.user .message-text {
    background-color: #ececec; /* Light grey color */
    color: #000;
    border-bottom-right-radius: 0;
}

.message.bot .message-text {
    background-color: #ececec;
    color: #000;
    border-bottom-left-radius: 0;
}

/* Container for input and send button */
.input-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: white;
    width: 100%;
    max-width: 600px; /* Limit the width of the input container */
    border-radius: 20px;
    margin-bottom: 10px;
    position: sticky;
    bottom: 0;
    justify-content: center; /* Center the input container */
}

/* Input field */
.chat-input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ddd;
    margin-right: 10px;
    font-size: 14px;
}

/* Send button */
.send-button {
    width: 100px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: -12px;
    font-size: 14px;
}

.send-button:hover {
    background-color: #0056b3;
}

/* Ensure the chat box scrolls correctly */
.chat-box {
    overflow-y: scroll;
    height: 100%;
}

.chat-box::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}

.listing-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .listing-button:hover {
    background-color: #0056b3;
  }
  